<!-- <div>
  <img [src]="currentSlides[currentSlideIndex]?.image" />
</div> -->

<div class="slideshow-container">
  <ng-container *ngFor="let currentSlide of currentSlides; let i = index">
    <div class="mySlides fade" [class.d-block]="currentSlideIndex === i">
      <img [src]="currentSlide?.image" style="width: 100%" />

      <div class="text">{{ currentSlide?.subTitle }}</div>
    </div>

    <a (click)="plusSlides(-1)" class="prev">&#10094;</a>
    <a (click)="plusSlides(1)" class="next">&#10095;</a>
  </ng-container>
</div>
<br />

<div style="text-align: center">
  <span
    *ngFor="let currentSlide of currentSlides; let i = index"
    class="dot"
    [class.active]="currentSlideIndex === i"
  ></span>
</div>
